		<ul>
		  <% @email.each do |email| %>
        <% if email.lue == true %>
         <li><%= link_to email.object, email_path(email.id), method: "get", remote: true, class: "link text-success"%></li>
        <% else %>
        <li><%= link_to email.object, email_path(email.id), method: "get", remote: true, class: "link" %></li>
        <% end %>
		  <% end %>
		</ul>
